<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_accountInfo.TradingName}}</title>
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <style>
        *,body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        table,tr,td{
            border: none;
        }
        h1,h2,h3,h4,h5,h6 {
            margin: 10px 0px 10px;
        }
        a{
            text-decoration: none;
            line-height: 25px;
        }
        p {
            color: #333;
            line-height: 25px;
            font-size: 15px;
        }
        .col-12 {
            width: 100%;
        }
        .col-11 {
            width: 91.66666667%;
        }
        .col-10 {
            width: 83.33333333%;
        }
        .col-9 {
            width: 75%;
        }
        .col-8 {
            width: 66.66666667%;
        }
        .col-7 {
            width: 58.33333333%;
        }
        .col-6 {
            width: 50%;
        }
        .col-5 {
            width: 41.66666667%;
        }
        .col-4 {
            width: 33.33333333%;
        }
        .col-3 {
            width: 25%;
        }
        .col-2 {
            width: 16.66666667%;
        }
        .col-1 {
            width: 8.33333333%;
        }
        .theme-color-1{
            color: #fff;
        }
        .theme-color-2{
            color: #f90;
        }
        .theme-color-3{
            color: #4A4951;
        }
        .theme-background-color-1{
            background-color: #f90;
        }
        .theme-background-color-2{
            background-color: #f5f5f5;
        }
        .theme-background-color-1{
            
        }
        .theme-background-color-1{
            
        }
        .container {
            margin: 0 auto;
            width: 95% !important;
            max-width: 800px;
        }
        .d-block{
            display: block;
        }
        .text-left{
            text-align: left;
        }
        .text-right{
            text-align: right;
        }
        .text-center{
            text-align: center;
        }
        .border-0{
            border: 0;
        }
        .mb-20{
            margin-bottom: 20px;
        }
        .p-20{
            padding: 20px;
        }
        .pb-0{
            padding-bottom: 0;
        }
        .pb-10{
            padding-bottom: 10px;
        }
        .m-0-auto{
            margin: 0 auto;
        }
        .size-1{
            font-size: 30px;
        }
        .size-2{
            font-size: 25px;
        }
        .size-3{
            font-size: 20px;
        }
        .size-4{
            font-size: 15px;
        }
        .size-5{
            font-size: 10px;
        }
        hr {
            border: 1px solid #ddd;
            margin: 10px 0;
        }
        .btn-1{
          background-color:#d30255;
          display: inline-block;
          color: #fff;
          text-transform: uppercase;
          margin: 10px 0px;
          padding: 5px 10px;
        }
        .img-normal{
            width: 150px;
            height: auto;
        }
        .img-thumb{
            width: 90px;
            height: auto;
        }
        .m-l-auto{
            margin-left: auto;
        }
        .strong{
            font-weight: 700;
        }
        .pt-0{
          padding-top: 0;
        }
    </style>
</head>

<body>

  <!-- **********************************************************
  ************************** HEADER *****************************
  *********************************************************** -->

  <table class="container theme-background-color-1">
      <tr>
          <td class="text-center col-2 p-20">
              <a href="https://agenciavinci.myvtex.com/" class="theme-color-1 text-center">
                  LOJA
              </a>
          </td>
          <td class="text-center col-2 p-20">
              <a href="https://agenciavinci.myvtex.com/" class="theme-color-1 text-center">
                  CAMISAS
              </a>
          </td>
          <td class="text-center col-2 p-20">
              <a href="https://agenciavinci.myvtex.com/"  class="text-center d-block">
                  <img src="https://agenciavinci.vteximg.com.br/arquivos/logo.png" width="120" class="text-center"/>
              </a>
          </td>
          <td class="text-center col-2 p-20">
              <a href="https://agenciavinci.myvtex.com/" class="theme-color-1 text-center">
                  CALÇAS
              </a>
          </td>
          <td class="text-center col-2 p-20">
              <a href="https://agenciavinci.myvtex.com/" class="theme-color-1 text-center">
                  PROMOÇOES
              </a>
          </td>
      </tr>
  </table>
   <body>
      <!-- 100% wrapper (grey background) -->
      <table class="container">
         <tbody>
            <tr>
               <td >
                  <!-- 600px container (white background) -->
                  <table>
                     <tbody>
                        <tr>
                           <td >
                              <br />
                              <table>
                                 <tbody>
                                    <tr>
                                       <td>
                                          <table>
                                             <tbody>
                                                <tr>
                                                   <td class="p-20 pb-0">
                                                      <a href="http://{{accountInfo.HostName}}.com.br">
                                                      <img height="55px" border="0" width="auto" class="size-2 theme-color-2" alt="{{_accountInfo.TradingName}}" src="http://licensemanager.vtex.com.br/api/site/pub/accounts/{{accountInfo.Id}}/logos/show" class="img-logo"></a>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <!-- ### BEGIN CONTENT ### -->
                                          <table>
                                             <tbody>
                                                <tr>
                                                   <td class="p-20 pb-0">
                                                      <p>Informamos que foi solicitado um cancelamento do pedido {{orderId}} pelo motivo: {{cancellationReason}}</p>
                                                      <p>compra realizada no dia: {{formatDate creationDate}}</p><br />
                                                      <br />                                                                                                                                          
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <!-- ### BEGIN CONTENT ### -->
                                          <table>
                                             <tbody>
                                                <tr>
                                                   <td>
                                                      <table>
                                                         <tbody>
                                                            <tr>
                                                               <td>
                                                                  <div>
                                                                     <strong class="p-20 pb-0">Pedido  : <span> {{orderId}}</span></strong>
                                                                  </div>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <div>
                                                                     <strong class="p-20 pb-0">Valor : <span>{{formatCurrency value}}</span></strong>
                                                                  </div>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                              
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="p-20 pb-0">
                					   <br>
                                          <strong>Atenciosamente,</strong>
                                          <br>
                                          <strong>Agencia Vinci</strong>.<br>
                                          <br>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- **********************************************************
    ************************** FOOTER *****************************
    *********************************************************** -->

    <table class="container theme-background-color-1">
        <tr>
            <td class="col-6 text-left p-20 theme-color-1">
                Agência Vinci. Todos os direitos são reservados
            </td>
            <td class="col-6 p-20 text-right">
                <a href="https://agenciavinci.myvtex.com/" class="text-right">
                    <img src="https://agenciavinci.vteximg.com.br/arquivos/logo.png" width="80" class="m-l-auto text-right img-thumb"/>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>
